div{
height:250px;
width:200px;
margin-left:500px;
background-color: aqua;
margin-top:200px
}
.button{
    width: 30px;
    height:30px;
    margin:7px;
    color:white;
    background-color: blueviolet;
}

#text{
    margin:7px;
    height:25px;
    width: 168px;

}